// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-form {
  margin: 0px;
  padding: 0px;
}

.navbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 14px;
  flex-wrap: nowrap;
  color: #008cdd;
  padding: 10px;
  border-bottom: solid 1px #D9D9DE;
  align-items: center;
  height: 40px;
  a {
    color: #008cdd;
    text-decoration: none;
    padding: 10px;
    -webkit-transition: color .77s cubic-bezier(.225,.5,.165,1),text-shadow .77s cubic-bezier(.225,.5,.165,1),border .77s cubic-bezier(.225,.5,.165,1);
    transition: color .77s cubic-bezier(.225,.5,.165,1),text-shadow .77s cubic-bezier(.225,.5,.165,1),border .77s cubic-bezier(.225,.5,.165,1);
  }
  a:hover {
    color: #292e31;
  }
}

.logo {
  img {
    width: 150px;
    padding-top: 10px;
    padding-left: 30px;
  }
}

.navbar-links {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-login {
  margin-left: auto;
  margin-right: 60px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 14px;
  border: 1px solid rgba(115, 189, 232, 0.67);
  -webkit-transition: color .77s cubic-bezier(.225,.5,.165,1),text-shadow .77s cubic-bezier(.225,.5,.165,1),border .77s cubic-bezier(.225,.5,.165,1);
  transition: color .77s cubic-bezier(.225,.5,.165,1),text-shadow .77s cubic-bezier(.225,.5,.165,1),border .77s cubic-bezier(.225,.5,.165,1);
}

.navbar-login:hover {
  color: #292e31;
}

.browser-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.purchase-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  line-height: normal;
}

.purchase-price {
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
}

.title-text {
  text-align: center;
  max-width: 860px;
}

.browser-list-item {
  list-style: none;
  width: 200px;
  border: solid 1px #D9D9DE;
  border-radius: 6px;
  font: 14px normal Arial, sans-serif;
  color: #828587;
  margin: 10px;
  padding: 10px;
  padding-top: 0px;
}

.company-name {
  color: #0F2105;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.company-name:hover {
  color: #008cdd;
}

.link {
  text-decoration: none;
}

.small-company-picture {
  max-width: 100%;
  padding-top: 10px;
}

.browser-index-title {
  font: 24px Arial, sans-serif;
  font-weight: lighter;
  margin-left: 50px;
}

.index-number {
  color: #008cdd;
}

.company-title {
  font: 30px Arial, sans-serif;
  margin: 0px;
  padding: 20px;
  color: #444;
  background-color: white;
  border-bottom: solid 1px #D9D9DE;
}

.large-company-picture {
  max-width: 100%;
  max-height: 100%;
}

.large-media-container {
  height: 300px;
  padding: 20px;
}

.company-left {
  max-width: 650px;
}

.company-stats {
  height: 300px;
  padding-top: 50px;
  font: 14px normal Arial, sans-serif;
  color: #828587;
}

.company-right {
  width: 35%;
  margin-left: 30px;
}

.company-caption-right {
  margin-top: 15px;
  height: 190px;
  max-width: 260px;
  font: 14px normal Arial, sans-serif;
  color: #444;
}

.company-caption-left {
  height: 190px;
  padding: 24px;
  padding-bottom: 0px;
  font: 20px normal Arial, sans-serif;
  color: #444;
  line-height: 1.6;
  margin-bottom: 1px;
}

.company-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.company-tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 80px;
  margin: 0px;
  padding-left: 25px;
  align-items: center;
  background-color: white;
  border-top: solid 1px #D9D9DE;
  border-bottom: solid 1px #D9D9DE;
}

.company-tabs li {
  margin: 0px;
  list-style: none;
  padding: 4em;
  padding-left: 0px;
  font: 16px normal Arial, sans-serif;
  color: #444;
}

.company-tabs li:hover {
  color: #008cdd;
}

.company-main {
  margin: 15px 15px;
  max-width: 910px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
}

.founders {
  padding-top: 10px;
  font: 14px normal Arial, sans-serif;
}

.stat {
  font: 50px Arial, sans-serif;
  color: #008cdd;
  font-weight: bold;
}

.invest-button {
  display: inline-block;
  border-width: 2px;
  border-color: transparent;
  border-style: solid;
  cursor: pointer;
  padding: 18px 30px;
  border-radius: 6px;
  background-color: #008cdd;
  width: 450px;
  text-align: center;
  margin-bottom: 1px;
  margin-top: 5px;
  font: 20px Arial, sans-serif;
  color: #ffffff;
  font-weight: lighter;
}

.invest-button:hover {
  background-color: #0075DD;
}

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Content {
  -webkit-transform: translate3d(0, 75%, 0);
  transform: translate3d(0, 75%, 0);
}

.ReactModal__Content--after-open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 350ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: translate3d(0, 75%, 0);
  transform: translate3d(0, 75%, 0);
  transition: all 150ms ease-in;
}

body {
  line-height: 1.6;
  color:#444;
}

h1,h2,h3 {
  line-height: 1.2;
}
