// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.browser-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.browser-list-item {
  list-style: none;
  width: 20%;
  border: solid 1px #D9D9DE;
  border-radius: 6px;
  font: 14px normal Arial, sans-serif;
  color: #828587;
  margin: 10px;
  padding: 10px;
  padding-top: 0px;
}

.company-name {
  color: #0F2105;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.company-name:hover {
  color: #008cdd;
}

.link {
  text-decoration: none;
}

.small-company-picture {
  max-width: 100%;
  padding-top: 10px;
}

.browser-index-title {
  font: 24px Arial, sans-serif;
  font-weight: lighter;
  margin-left: 50px;
}

.index-number {
  color: #008cdd;
}

.company-title {
  text-align: center;
  font: 30px Arial, sans-serif;
  margin: 0px;
  padding: 20px;
  color: #444;
  background-color: white;
  border-top: solid 1px #D9D9DE;
  border-bottom: solid 1px #D9D9DE;
}

.large-company-picture {
  max-width: 100%;
  max-height: 100%;
}

.large-media-container {
  height: 300px;
  padding: 20px;
}

.company-left {
  width: 65%;
}

.company-stats {
  height: 300px;
  padding: 20px;
  padding-top: 50px;
  font: 14px normal Arial, sans-serif;
  color: #828587;
}

.company-right {
  width: 35%;
}

.company-caption-right {
  height: 200px;
  padding-left: 20px;
  margin-right: 50px;
  font: 14px normal Arial, sans-serif;
  color: #444;
}

.company-caption-left {
  height: 200px;
  padding: 24px;
  font: 20px normal Arial, sans-serif;
  color: #444;
  line-height: 1.6;
}

.company-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.company-tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 80px;
  margin: 0px;
  align-items: center;
  background-color: white;
  border-top: solid 1px #D9D9DE;
  border-bottom: solid 1px #D9D9DE;
  justify-content: flex-start;
}

.company-tabs li {
  margin: 0px;
  list-style: none;
  padding: 2em;
  font: 14px normal Arial, sans-serif;
  color: #444;
}

.company-tabs li:hover {
  color: #008cdd;
}

.company-main {
  margin: 15px 15px;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
}

.founders {
  padding-top: 10px;
  font: 14px normal Arial, sans-serif;
}

.stat {
  font: 50px Arial, sans-serif;
  color: #008cdd;
  font-weight: bold;
}

body {
  line-height: 1.6;
  color:#444;
}

h1,h2,h3 {
  line-height: 1.2;
}
